@model IEnumerable<List<QLHS.Models.book>>

<div class="tab-active-3 owl-carousel">
    @foreach (var item in Model)
    {
        <div class="tab-total">
            <!-- single-product-start -->
            <div class="product-wrapper mb-40">
                <div class="product-img">
                    <a href="@Url.Action("BookDetail", "Home",new { id = item[0].id })">
                        <img src="~/Assets/Upload/@item[0].image" alt="book" class="primary" />
                    </a>
                    <div class="quick-view">
                        <a class="action-view" href="#" data-bs-target="#productModal" data-bs-toggle="modal" title="Quick View">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                    <div class="product-flag">
                        <ul>
                            <li><span class="sale">new</span></li>
                            @if (item[0].sale >0)
                            {
                                <li><span class="discount-percentage">-@item[0].sale%</span></li>
                            }
                            </ul>
                    </div>
                </div>
                <div class="product-details text-center">
                    <div class="product-rating">
                        <ul>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                        </ul>
                    </div>
                    <h4>
                        @if (item[0].book_name.Length > 20)
                        {
                            <a href="#">@(item[0].book_name.Substring(0, 18) + "...")</a>
                        }
                        else
                        {
                            <a href="#">@item[0].book_name</a>
                        }
                    </h4>
                    <div class="product-price">
                        <ul>
                            <li class="pricebook">@item[0].price_sale</li>
                            @if (item[0].sale >0)
                            {
                                <li class="old-price pricebook">@item[0].price</li>
                            }

                        </ul>
                    </div>
                </div>
                <div class="product-link">
                    <div class="product-button">
                        <a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                    <div class="add-to-link">
                        <ul>
                            <li><a href="@Url.Action("BookDetail", "Home",new { id = item[0].id })" title="Details"><i class="fa fa-external-link"></i></a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <!-- single-product-end -->
            <!-- single-product-start -->
            <div class="product-wrapper">
                <div class="product-img">
                    <a href="@Url.Action("BookDetail", "Home",new { id = item[1].id })">
                        <img src="~/Assets/Upload/@item[1].image" alt="book" class="primary" />
                    </a>
                    <div class="quick-view">
                        <a class="action-view" href="#" data-bs-target="#productModal" data-bs-toggle="modal" title="Quick View">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                    <div class="product-flag">
                        <ul>
                            <li><span class="sale">new</span></li>
                            @if (item[1].sale >0)
                            {
                                <li><span class="discount-percentage">-@item[1].sale%</span></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="product-details text-center">
                    <div class="product-rating">
                        <ul>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                        </ul>
                    </div>
                    <h4>
                        @if (item[1].book_name.Length > 20)
                        {
                            <a href="#">@(item[1].book_name.Substring(0, 18) + "...")</a>
                        }
                        else
                        {
                            <a href="#">@item[1].book_name</a>
                        }
                    </h4>
                    <div class="product-price">
                        <ul>
                            <li class="pricebook">@item[1].price_sale</li>
                            @if (item[1].sale >0)
                            {
                                <li class="old-price pricebook">@item[1].price</li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="product-link">
                    <div class="product-button">
                        <button class="add-to-card" id="@item[1].id" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                    </div>
                    <div class="add-to-link">
                        <ul>
                            <li><a href="@Url.Action("BookDetail", "Home",new { id = item[1].id })" title="Details"><i class="fa fa-external-link"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- single-product-end -->
        </div>
    }

</div>
